.env
__pycache__/ #Python compiled files
venv/		#virtual environment
*.pyc	# Compiled python
.vscode	#Editor settings
To-do.txt # things to do for this project
app/.DS_Store
Observations
To-do.txt
complications
lis.pem
app/.DS_Store
